/* Global values */

:root {
  --main-gray: #303841;
  --main-background: #334699;
  --nav-bar-color: wheat;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  background-color: var(--main-background);
  overflow-x: hidden;
}

#nav-bar {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  max-height: 10vh;
  background: black;
  box-shadow: 0px 5px 10px rgba(26, 26, 26, 0.15);
  z-index: 1;
  transition: all 0.2s cubic-bezier(0.39, 0.58, 0.57, 1);
}

.navbar-top {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-weight: 100;
  font-size: 1rem;
  letter-spacing: 2px;
}
/* 
.navbar-top-right{

    for future develop
} */

.navbar-botton {
  flex: 1;
}

#nav-bar ul {
  display: flex;
}

#nav-bar li {
  list-style: none;
  margin-right: 2rem;
}

#nav-bar a {
  color: white;
  text-decoration: none;
  border-radius: 10px;
  padding: 0.3rem;
  transition: all 0.2s ease-out;
}

#nav-bar a:hover {
  font-size: 1.1rem;
}

.container {
  width: 100%;
}

.intro-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
}

.intro-image {
  transform: translateY(60px);
  opacity: 0.75;
  flex: 0.6;
  padding: 5rem;
}

.intro-image img {
  width: 100%;
  height: auto;
}

#welcome-message {
  flex: 1;
  color: white;
  padding-left: 5rem;
}

#welcome-message h1 {
  font-size: 7rem;
  font-weight: 800;

  margin-bottom: 1rem;
}
#welcome-message h2 {
  font-size: 3rem;
}

/* about me section */

.bio-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 40vw;
  color: white;
  padding: 2rem;
  margin-bottom: 5rem;
}

.bio-section h2 {
  text-align: center;
  font-size: 4rem;
  margin-top: 13rem;
}

.bio-content {
  width: 520px;
  margin: 4rem auto;
  font-size: 1.1rem;
  text-align: center;
}

.pl {
  display: block;
  width: 6.25em;
  height: 6.25em;
}
.pl__ring,
.pl__ball {
  animation: ring 2s ease-out infinite;
}
.pl__ball {
  animation-name: ball;
}

/* Animation */
@keyframes ring {
  from {
    stroke-dasharray: 0 257 0 0 1 0 0 258;
  }
  25% {
    stroke-dasharray: 0 0 0 0 257 0 258 0;
  }
  50% {
    stroke-dasharray: 0 0 0 0 0 515 0 0;
  }

  75% {
    stroke-dasharray: 0 0 0 0 257 0 258 0;
  }

  99%,
  to {
    stroke-dasharray: 0 257 0 0 1 0 0 258;
  }
}

/* @keyframes ball {
  from,
  50% {
    animation-timing-function: ease-in;
    stroke-dashoffset: 1;
  }
  64% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -109;
  }
  78% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -145;
  }
  92% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -157;
  }
  57%,
  71%,
  85%,
  99%,
  to {
    animation-timing-function: ease-out;
    stroke-dashoffset: -163;
  }
} */

/* Main Content */

.content-container {
  width: 100%;
  margin-top: 15rem;
}

.section-format {
  margin-top: 5rem;
  width: 100%;
  opacity: 0%;
  transition: all 0.5s ease-in-out 0.2s;
  transform: translateY(0%);
  /* Fix weird error  */
}

.section-mover {
  transform: translateY(-150px);
  opacity: 100%;
}

/* Web Projects */

.section-format > h2 {
  padding-top: 0rem;
  padding-left: 1rem;
  margin-bottom: 7rem;
  font-size: 5rem;
  color: wheat;
}

.xscroll-container {
  width: 100%;
  overflow: hidden;
  height: 100%;
  position: relative;
}

.xscroll {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  /* width: 4600px; */
  padding: 1rem 0 1rem 0;
  transition: all 0.5s ease-in-out;
}

.project-tile {
  width: 450px;
  margin-left: 10px;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
}

.image-container {
  margin: auto;
  width: 450px;
  height: 250px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.project-image {
  width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.project-tile:hover {
  width: 500px;
}

.image-container:hover {
  transform: scale(108%);
}

.project-title {
  color: white;
  font-size: 1.2rem;
  /* padding: 1rem; */
  margin: 1rem auto 2rem auto;
  font-style: none;
  font-weight: 500;
  border-radius: 0.5rem;
}

.code {
  color: rgb(8, 8, 8);
  transition: color 0.3s ease-out;
}

.project-title:hover {
  color: rgb(8, 8, 8);
}

.project-title:hover .code {
  color: white;
}

#links {
  background-color: black;
  height: 50vh;
  text-align: center;
  color: white;
  padding: 1rem;
}

#links h2 {
  margin: 3rem auto 3rem auto;
  color: white;
  font-size: 2rem;
}

.btn {
  color: white;
  text-decoration: none;
  height: fit-content;
}

.contacts {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  height: 2.4rem;
  margin-top: 7rem;
}

.contact-details {
  padding: 1rem;
  font-size: 1.7rem;
}

.cursor-anim {
  animation-name: anim-cursor;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/* button to scroll */

.btnscrollX {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 2;
  transform: translateY(-100%);
  top: 50%;
  border: none;
  background-color: black;
  border-radius: 50%;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.4);
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  transition: background-color 0.2s ease-in-out;
}

.btnscrollX:hover {
  background-color: antiquewhite;
}
.btn-left {
  left: 1%;
}

.btn-right {
  right: 1%;
}

/* For rapid viewing testing */

.spacer {
  height: 600px;
}

.item {
  width: 450px;
  height: 250px;
  background-color: antiquewhite;
  margin-right: 40px;
}

/* animation */
@keyframes anim-cursor {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* mobile version */

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .navbar-top {
    justify-content: center;
  }

  .navbar-top-left {
    display: none;
    flex: 1;
  }

  .nav-top-right {
    flex: 4;
  }

  .intro-container {
    flex-direction: column;
    top: 30vw;
    margin-bottom: 30vw;
  }

  #welcome-message h1 {
    font-size: 4rem;
  }

  #welcome-message h2 {
    font-size: 1.5rem;
  }

  .intro-image {
    padding: 0;
    transform: translateY(0px);
  }

  .bio-section {
    height: 110vw;
  }

  .bio-section h2 {
    margin-top: 0;
    font-size: 2rem;
  }

  .bio-content {
    width: auto;
  }

  /* projects section */

  .section-format > h2 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }

  .project-tile {
    margin-left: 0px;
    margin-right: 0px;
  }

  .image-container {
    width: 400px;
    height: 225px;
  }

  .btnscrollX {
    width: 40px;
    height: 40px;
  }

  .contact-details {
    font-size: 1rem;
  }
}
